.chat {
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.chat .top {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd35;
}

.chat .top .user {
    display: flex;
    align-items: center;
    gap: 20px;
}

.chat .top .user img {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    object-fit: cover;
}

.chat .top .user .texts {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat .top .user .texts span {
    font-size: 18px;
    font-weight: bold;
}

.chat .top .user .texts p {
    font-size: 14px;
    font-weight: 300;
    color: #a5a5a5;
}

.chat .top .icons {
    display: flex;
    gap: 20px;
}

.chat .top .icons img {
    width: 20px;
    height: 20px;
}

.chat .center {
    padding: 20px;
    flex: 1;
    overflow-y: auto; /* This will allow the entire chat container to scroll */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

/* Custom scrollbar for .center */
.chat .center::-webkit-scrollbar {
    width: 6px; /* Adjust the width of the scrollbar */
}

.chat .center::-webkit-scrollbar-thumb {
    background: rgba(54, 14, 58, 0.462); /* Color of the scrollbar thumb */
    border-radius: 10px; /* Rounded corners for the scrollbar thumb */
}

.chat .message {
    max-width: 70%;
    display: flex;
    gap: 20px;
}

.chat .message.own {
    align-self: flex-end;
}

.chat .message.own .texts p {
    background-color: #5183fe;
}

.chat .message img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.chat .message .texts {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.chat .message .texts img {
    width: 100%;
    height: 300px;
    border-radius: 10px;
    object-fit: cover;
}

.chat .message .texts p {
    padding: 20px;
    background-color: rgba(17, 25, 40, 0.3);
    border-radius: 10px;
}

.chat .message .texts span {
    font-size: 13px;
    align-self: flex-start; /* Ensures the span aligns to the left */
    margin-top: 5px; /* Adds space between the message and timestamp */
}

.chat .bottom {
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid #dddddd35;
    gap: 20px;
    margin-top: auto;
}

.chat .bottom .icons {
    display: flex;
    gap: 20px;
}

.chat .bottom img {
    width: 20px;
    height: 20px;
    cursor: pointer;
}

.chat .bottom input {
    flex: 1;
    background-color: rgba(54, 14, 58, 0.462);
    border: none;
    outline: none;
    color: white;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.chat .bottom .emoji {
    position: relative;
}

.chat .bottom .emoji .picker {
    position: absolute;
    bottom: 50px;
    left: 0;
}

.chat .bottom .sendButton {
    background-color: #5183fe;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.chat .bottom .sendButton:hover {
    background-color: #3f6ae8;
}
