/* Base styles for mobile-first design */

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #012a4a; /* Dark background to provide contrast */
    margin: 0;
    padding: 0;
}

.login {
    width: 100%;
    max-width: 350px; /* Max width to ensure the form looks good on all mobile screens */
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for depth */
    display: flex;
    flex-direction: column;
    gap: 20px; /* Spacing between form elements */
    align-items: center;
}

.login h2 {
    font-size: 24px;
    color: #ffffff;
    margin-bottom: 10px;
}

.login .item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.login .item form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.login .item form input {
    padding: 15px;
    border: none;
    outline: none;
    background-color: rgba(17, 25, 40, 0.6);
    color: white;
    border-radius: 5px;
    width: 100%;
    max-width: 350px;
    font-size: 14px;
}

.login .item form label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    text-decoration: underline;
    font-size: 14px;
}

.login .item form label img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.6;
}

.login .item form button {
    width: 100%;
    padding: 15px;
    border: none;
    background-color: #1f8ef1;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-weight: 500;
    font-size: 14px;
}

.login .item form button:disabled {
    cursor: not-allowed;
    background-color: #1f8ff19c;
}



.notification {
    position: fixed;
    top: 20px;
    right: 20px;
    padding: 8px;
    border-radius: 5px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 14px;
}

.notification.success {
    background-color: #4caf50;
    color: white;
}

.notification.error {
    background-color: #f44336;
    color: white;
}

.notification button {
    background: none;
    border: none;
    color: white;
    font-size: 14px;
    cursor: pointer;
    margin-left: 8px;
}



@media (max-width: 768px) {
    .login {
        flex-direction: column;
        gap: 10px; /* Reduce gap further on smaller screens */
        padding: 15px;
    }
  
    .login .separator {
      display: none;
    }
  
    .login .item form input,
    .login .item form button {
        max-width: 90%;
    }
  
    .notification {
        top: 10px;
        right: 10px;
        padding: 6px;
        font-size: 12px;
    }
  }

